.footerWrapper {
  height: 220px;
  width: 100%;
  background-color: #242424;
  color: white;
  display: flex;

  @media (width < 450px) {
    width: 100%;
    height: 180px;
  }

  &_item {
    border-right: 1px solid #7d7d7d;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    @media (width < 450px) {
      display: flex;
      border: none;
      flex-direction: column;
      gap: 2px;
      width: 100%;
    }

    &:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &:last-child {
      @media (width < 450px) {
        display: none;
      }
    }
  }
}

.mobileContent {
  @media (width < 450px) {
    height: 35px;
    width: 35px;
    display: flex;
  }
}

.logoWrapper {
  display: flex;
  gap: 10px;
  @media (width < 450px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.logo {
  height: 65px;
  width: 65px;
}

.logoText {
  font-size: 13px;
}

.icons {
  display: flex;
  gap: 12px;
  @media (width < 450px) {
    display: flex;
    justify-content: space-between;
  }
}

.number {
  color: aliceblue;
  cursor: pointer;
  font-size: 16px;
}

.link {
  display: flex;
  align-items: center;
  padding-left: 7px;
  text-decoration: none;
  gap: 5px;
}

.wrapper_padding {
  color: white;
  font-size: 14px;

  @media (width < 450px) {
    display: flex;
    gap: 5px;
  }
}
