.footerWrapper {
  height: 100px;
  width: -webkit-fill-available;
  background-color: #2059c5;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 20px 0 0;
  padding: 0 15px;

	@media (width < 450px) {
		gap: 3%
	}


  &_icon {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
		align-items: center;
    padding: 5px;
    gap: 10px;
    height: 30px;
  }

  &_social {
    display: flex;
    gap: 10px;
  }

  &_numberWrapper {
    background-color: #e2ebff;
    border-radius: 10px;
    width: 200px;
    padding: 5px;
  }
}

.socialItem {
  height: 26px;
  width: 26px;
}

.iconRow {
  background-color: #e2ebff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

	@media (width < 450px) {
		display: none;
	}
}

.number {
  color: black;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
