@import 'src/data/css-variables';

.title {
  margin: 0;
}

.container {
  background: #ffffff;
  border-radius: 20px;
  padding: clamp($minWidth * 2.1px, 2.1vw, $maxWidth * 2.1px) clamp($minWidth * 2.4px, 2.4vw, $maxWidth * 2.4px);
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 12fr 1fr;

  .titleContainer {
    height: 100%;
    display: flex;
    align-content: space-around;

    .title {
      margin: auto 0;
    }
  }
  .buttonContainer {
    display: flex;
    justify-content: end;
    align-content: end;
    .button {
      cursor: pointer;
      width: clamp($minWidth * 2.8px, 2.8vw, $maxWidth * 2.8px);
    }
  }


  .textContainer {
    transition: max-height 1s ease;
    overflow: hidden;
    max-height: 0;
  }

  .text {
    margin-top: clamp($minWidth * 0.69px, 0.69vw, $maxWidth * 0.69px);
    margin-bottom: 0;
  }

  .expand {
    max-height: 70px;
  }

  .collapse {
    max-height: 0;
  }
}
