.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  z-index: 9999;
  width: 100%;

  &_menuItem {
    margin: 5px;
    cursor: pointer;

		@media (width < 1000px) {
			display: none;
		}
  }

  &_menuItem:hover {
    color: #2059c5;
  }
}

.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0, #fff 100%);

  @media (width < 600px) {
    padding-top: 20px;
    height: 10vh;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0, #fff 50%);
		gap: 20%
  }
}

.openDrawer {
  @media (width < 600px) {
    padding-top: 20px;
    background: none;
  }
}

.iconRow {
  display: flex;
  align-items: center;
  gap: 7px;

  &_iconWrapper {
    background-color: #e2ebff;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  padding: 0.8vw 1vw;
  margin-left: 10%;
}

.logoImg {
  height: 55px;
  width: 265px;

  @media (width < 600px) {
    height: 40px;
    width: 188px;
  }
}

.paper {
  width: 450px;

  @media (width < 500px) {
    width: 350px;
  }
  @media (width < 385px) {
    width: 280px;
  }
}

.buttonClose {
  padding-left: 10px;
}

.iconContainer {
  display: flex;
  align-items: center;
	justify-content: center;
  position: relative;
  height: 1vw;
	margin-right: 10%;
  z-index: 105;
  padding: 25px 15px;

  @media (width < 600px) {
    padding: 18px 7px;
		margin-right: 35px;
		display: flex;
		align-items: center;
		background-color: #2059C5;
		border-radius: 5px;
		width: 31px;
  }
}

.number {
  color: #e2ebff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  @media (width < 600px) {
    display: none;
  }
}

.mobileContent {
  height: 16px;
  width: 16px;
  @media (width < 600px) {
    display: none;
  }
}

.socialWrapper {
  background-color: #2059c5;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 10px;
  height: 30px;

	@media (width < 1000px) {
		display: none;
	}
}
