@import 'src/data/css-variables';

.mainContainer {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  background-color: #e2ebff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80vw;
  max-width: $desktop-max-width * 100px;
  overflow-y: hidden;
  gap: clamp($desktop-min-width * 4.17px, 4.17vw, $desktop-max-width * 4.17px);

  @media (max-width: $mobile-width) {
    width: 90vw;
    max-width: 800px;
  }
}

.first {
  display: flex;
  flex-direction: column;
  gap: clamp($desktop-min-width * 2px, 2vw, $desktop-max-width * 2px);
}