// @import 'src/data/css-variables'; - таким образом импортируется этот файл

$minWidth: 8; // Минимальная ширина экрана / 100
$maxWidth: 20; // Максимальная ширина экрана / 100

$white: #FFFFFF;
$vivid-blue: #0A5FFE;
$dark: #010B23;
$black: #0C0000;
